[build]
builder = "DOCKERFILE"
dockerfilePath = "Dockerfile"

[deploy]
startCommand = "alembic upgrade head & uvicorn main:app --host 0.0.0.0 --port 8000 --log-level info"
restartPolicyType = "ON_FAILURE"
